@import "../../../styles/variables.css";
.t_home {
    .noActiveEvent{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(180px,auto);
        margin-bottom: 37px;

        .box{
            padding: 20px;
            border-radius: 10px;
            border: 1px solid var(--soft-bg);
        }
        .Box-head{
            display: flex;
            gap: 10px;
            align-items: center;
        }
        .box1{
            grid-column: span 1 ;
            grid-row: span 1;
            
            h2{
                margin: 5px;
                font-size: 28px;
                color: var(--main-color);
            }
            p{
                font-size: 20px;
                color: var(--main-color);
                margin: 40px 10px 10px 10px;
            }
        }
    
        .box2{
            grid-column: span 3 ;
            grid-row: span 4;
            display: flex;
            align-items: center;
            img{
                padding-top: 10px;
                width: 75vh;
                opacity: 50%;
            }
            .texts{
                color: var(--main-color);
                align-items: center;
                align-content: center;
                display: flex;
                flex-direction:column ;
                justify-content: center;
                font-size: 28px;
                .info{
                    display: flex;
                    gap: 10px;
                    font-size: 20px;
                    align-items: center;
                }
            }
        }
        .box3{
            grid-column: span 1 ;
            grid-row: span 3;
            .participation-list{
                margin: 20px 20px 0px 20px;
                .listItem{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 30px;
                    padding-bottom: 10px;
                    border-bottom: 2px solid var(--soft-bg);
                    .eventName{
                        font-size: 18px;
                        font-weight: 500;
                    }
                    .boothID{
                        font-weight: 500;
                    }
                }
            }
        }
    }
}