@import "../../../styles/variables.css";
.categories {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(180px,auto);
    margin-bottom: 52px;


    .box{
        padding: 20px;
        border-radius: 10px;
        border: 1px solid var(--soft-bg);
    }
    .box1{
        grid-column: span 1 ;
        grid-row: span 4;
    }

    .box1 h2{
        margin: 20px;
        font-size: 28px;
    }
    .box1 .categories-list{
        margin: 20px 20px 0px 20px;
        .listItem{
            display: flex;
            align-items: center;

            justify-content: space-between;
            margin:15px;
            padding: 20px;
            border: 2px solid var(--shadow-color);
            border-radius: 6px;
            .categoryName{
                font-size: 18px;
                font-weight: 500;
            }
            .edit_button{
                box-shadow: none;
                color: green;
                font-size: medium;
            }
            .delete_button{
                box-shadow: none;
                color: red;
            }
            
        }
    }

    .box2{
        grid-column: span 3 ;
            grid-row: span 4;
            display: flex;
            align-items: center;
            img{
                padding-top: 10px;
                width: 75vh;
                opacity: 50%;
            }
            .texts{
                color: var(--main-color);
                align-items: center;
                align-content: center;
                display: flex;
                flex-direction:column ;
                justify-content: center;
                font-size: 28px;
                .info{
                    display: flex;
                    gap: 10px;
                    font-size: 20px;
                    align-items: center;
                }
            }
        }
    
}