
.tradeMarks {
    display: flex ;
    flex-direction: column;
    gap: 20px;
    min-height: 87.5vh;
    .info{
        display: flex;
        justify-content: space-between;
        margin: 20px
        }
        .table{
            margin-bottom: 25px;
        }
        
    }
    .verify-button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
      }
      
      .verify-button:hover {
        background-color: #45a049;
      }
      