@import "../../../styles/variables.css";

.joinUs {
    background-color: var(--main-bg);
    display: flex;
    padding: 30px;
    height: 86vh;
}

.joinUsDesc {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text {
    margin: 30px 0 15% 0;
    display: flex;
    flex-direction: column;
}

.text span {
    padding-inline-start: 20px;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}

.text h1 {
    color: var(--main-color);
    padding: 10px 20px;
    font-size: 26px;
    font-weight: bold;
}

.joinUsForm {
    margin: 30px 0 0 20px;
    padding: 20px 0 20px 10px;
    flex: 1;
    border-radius: 12px;
    box-shadow: 0 0 10px var(--soft-bg);
}

.formTitle {
    font-size: 24px;
    font-weight: bold;
    color: var(--main-color);
    padding: 20px;
}

.joinForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.formItem {
    width: 75%;
}



.error {
    background-color: var(--accent-color);
    padding: 5px;
    width: 100%; /* Adjusted to match input width */
    border-radius: 8px;
    color: white;
    margin: 10px 0;
    text-align: center; /* Center align text */
}

button {
    cursor: pointer;
    color: var(--main-color);
    background-color: var(--accent-color);
    font-size: 18px;
    border: 2px solid var(--accent-color);
    border-radius: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    box-shadow: 0 0 5px var(--shadow-color);
}

.formItem input[type="file"] {
    display: none; /* Hide the default file input */
}

.custom-file-upload {
    margin: 10px;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    color: var(--main-color);
    font-size: 16px;
    text-align: center; /* Center the text */
    cursor: pointer;
    transition: border 0.3s ease;
    padding: 15px;
}

.custom-file-upload:hover,
.custom-file-upload:focus {
    border: 2px solid var(--accent-color);
}

.file-name {
    margin-top: 10px;
    font-size: 16px;
    color: var(--main-color);
    text-align: center;
}
