:root {
  --main-color: #2a3447;
  --soft-color: white;
  --main-bg: #fff;
  --soft-bg: #ddddddc4;
  --dark-bg: #bbb;
  --accent-color: #FEAF04;
  --accent-color-dark: #feaf04d0;
}
/* Dark theme variables */
[data-theme="dark"] {
  --main-color: #fff;
  --soft-color: #ddd;
  --main-bg: #2a3447;
  --soft-bg: #384256;
  --dark-bg: #222b3c;
  --accent-color: #FEAF04;
  --accent-color-dark: #feaf04d0;
  --shadow-color: rgba(255, 255, 255, 0.2); 
}
