@import "../../styles/variables.css" ;


.add { 
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0 , 0.724);
    display: flex;
    justify-content: center;
    align-items: center;
    
    .model {
        padding: 50px;
        border-radius: 10px;
        background-color: var(--main-bg);
        position: relative;

        h1 {
            margin-bottom: 40px;
            font-size: 24px;
            color: var(--main-color);
        }
        .close{
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        form{
            max-width: 500px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .item{
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 20px;

                label {
                    font-size: 14px;
                }
                input{
                    padding: 20px;
                    outline: none;
                    background-color: transparent;
                    border: 2px solid var(--soft-bg);
                    
                }
            }
            button{
                margin-top: 25px;
                width: 42%;
                height: 55px;
                background: var(--main-color);
                border: none;
                outline: none ;
                box-shadow: 0 0 10px var(--overlay-color);
                cursor: pointer;
                font-size: 16px;
                color: var(--main-bg);
                font-weight: 700;
            }
        }
        

    }
}