@import "../../../styles/variables.css";

.Tparticipate{
    .T_header{
        color: var(--main-color);
        font-weight: bold;
        font-size: 26px;
        padding: 1px 20px 20px 20px;
    }
    .boxes{
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(180px,auto);
    }
    .box{
        padding: 20px;
        border-radius: 10px;
        border: 1px solid var(--soft-bg);
    }
    .box1{
        grid-column: span 2 ;
        grid-row: span 1;
        .custom-select-container {
            width: 75%;
            font-family: Arial, sans-serif;
            margin: 20px;
          }
          
          /* Customize the control (input area) */
          .custom-select__control {
            background-color: var(--main-bg);
            border: 1px solid var(--soft-bg);
            border-radius: 8px;
            padding: 5px;
            box-shadow: none;
          }
          
          /* Customize the placeholder text */
          .custom-select__placeholder {
            color: var(--main-color);
          }
          .custom-select__single-value {
            color: var(--main-color); /* Replace with your desired color */
        }
          /* Customize the individual options in the dropdown */
          .custom-select__option {
            background-color: var(--main-bg);
            color: var(--main-color);
            padding: 10px;
            border-bottom: 1px solid var(--soft-bg);
          }
          .custom-select__menu {
            background-color: var(--main-bg);
            /* Remove box shadow if present */
            box-shadow: none;
          }
          /* Highlight the selected option */
          .custom-select__option--is-selected {
            background-color: var(--main-bg);
            color: var(--main-color);
          }
          
          /* Highlight the focused option */
          .custom-select__option--is-focused {
            background-color: var(--soft-bg);
            color: var(--main-color);
          }
    }
    .box2{
        grid-column: span 2 ;
        grid-row: span 3;
        display: flex;
        flex-direction: column;
        .custom-select-container {
            width: 100%;
            font-family: Arial, sans-serif;
            margin: 20px 0px;
          }
          /* Customize the control (input area) */
          .custom-select__control {
            background-color: var(--main-bg);
            border: 1px solid var(--soft-bg);
            border-radius: 8px;
            padding: 5px;
            box-shadow: none;
          }
          
          /* Customize the placeholder text */
          .custom-select__placeholder {
            color: #888;
          }
          
          /* Customize the individual options in the dropdown */
          .custom-select__option {
            background-color: var(--main-bg);
            color: var(--main-color);
            padding: 10px;
            border-bottom: 1px solid var(--soft-bg);
          }
          .custom-select__menu {
            background-color: var(--main-bg);
            /* Remove box shadow if present */
            box-shadow: none;
          }
          /* Highlight the selected option */
          .custom-select__option--is-selected {
            background-color: var(--main-bg);
            color: var(--main-color);
          }
          
          /* Highlight the focused option */
          .custom-select__option--is-focused {
            background-color: var(--soft-bg);
            color: var(--main-color);
          }
          
          /* Customize the multi-value container (selected items) */
          .custom-select__multi-value {
            background-color: var(--soft-bg);
            border-radius: 4px;
            padding: 3px;
            margin: 2px;
            
          }
          
          /* Customize the text of selected items */
          .custom-select__multi-value__label {
            color: var(--accent-color);
          }
          
          /* Customize the remove button of selected items */
          .custom-select__multi-value__remove {
            color: var(--accent-color);
            cursor: pointer;
          }
          .selected-products{
            width: 100%;
            margin: 10px;
            .selected-product{
                display: flex;
                gap: 30px;
                align-items: center;
                margin : 5px 0 ;
                span{
                    font-size: 24px;
                    font-weight: bold;
                    color: var(--main-color);
                }
                input{
                    padding: 10px;
                    outline: none;
                    background-color: transparent;
                    border: 2px solid var(--soft-bg);
                    border-radius: 8px;
                    color: var(--main-color)
                }
            }
            
          }
          .rep_cont{
            margin-top: 30px;
          }
        
    }
    .box3{
        grid-column: span 2 ;
        grid-row: span 3;
        .chart{
            width: 100%;
            height: 400px ;
            
        }
        .custom-select-container {
            width: 75%;
            font-family: Arial, sans-serif;
            margin: 20px;
          }

        .custom-select__control {
            background-color: var(--main-bg);
            border: 1px solid var(--soft-bg);
            border-radius: 8px;
            padding: 5px;
            box-shadow: none;
          }
          
          /* Customize the placeholder text */
          .custom-select__placeholder {
            color: var(--main-color);
          }
          .custom-select__single-value {
            color: var(--main-color); /* Replace with your desired color */
        }
          /* Customize the individual options in the dropdown */
          .custom-select__option {
            background-color: var(--main-bg);
            color: var(--main-color);
            padding: 10px;
            border-bottom: 1px solid var(--soft-bg);
          }
          .custom-select__menu {
            background-color: var(--main-bg);
            /* Remove box shadow if present */
            box-shadow: none;
          }
          /* Highlight the selected option */
          .custom-select__option--is-selected {
            background-color: var(--soft-bg);
            color: var(--main-color);
          }
          
          /* Highlight the focused option */
          .custom-select__option--is-focused {
            background-color: var(--soft-bg);
            color: var(--main-color);
          }
    }
    .box4{
        grid-column: span 2 ;
        grid-row: span 1;
        position: relative;
        button{
            width: 200px;
            font-size: 24px;
            position: absolute;
            right: 20px;
            transform: translateX(-20); 
            top: 50px;
        }
    }
}

.custom-tooltip{
    background-color: var(--main-bg);
    color: var(--main-color);
    padding: 20px;
    border-radius: 12px;
}