@import "../../../styles/variables.css";
.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    min-height: 87.5vh;
}

.boxx {
    background-color: var(--soft-bg);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.boxx1 {
    grid-column: span 2; /* Make the logo box take up both columns */
    height: 250px; /* Adjust height to make it taller, if desired */
}

.boxx img {
    width: 100px;
    height: 100px;
}

.boxx button {
    background-color: var(--accent-color);
    border: none;
    padding: 15px 40px;
    color: var(--main-color);
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
}

.boxx button:hover {
    background-color: var(--accent-color-dark);
    transform: translateY(-5px);
}

.boxx:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
